<div class="row">
  <div class="col-md-4">
		<div class="card border-primary mb-3">
		  <div class="card-header">Borrowers</div>
		  <div class="card-body">
		    <h4 class="card-title">Total Number of Borrowers: <strong><%= @total_borrowers %></strong></h4>
        <%= pie_chart @borrower_gender %>
        <%= pie_chart @borrower_age_range %>
		  </div>
		</div>
  </div>
  <div class="col-md-4">
  	<div class="card border-primary mb-3">
		  <div class="card-header">Loan Amount</div>
		  <div class="card-body">
		    <h4 class="card-title">Total Loan Amount: <strong>KES <%= @total_loan_amount %></strong></h4>
        <%= pie_chart @loan_amount_gender %>
        <%= pie_chart @loan_amount_age_range %>
		  </div>
		</div>
  </div>
  <div class="col-md-4">
  	<div class="card border-primary mb-3">
		  <div class="card-header">Payments</div>
		  <div class="card-body">
		    <h4 class="card-title">Total Repayment: <strong>KES <%= @total_repayments %></strong></h4>
		  </div>
		</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card border-primary mb-3" style="max-height:800px">
      <div class="card-header">Loan Info</div>
      <div class="card-body">
        <div>
        <%= form_tag('/dashboard_loans', method: "get") do %>
          <%= select_tag :country, options_for_select([['Select a country', '-'],['Kenya', 'kenya'], ['Uganda', 'uganda'], ['Rwanda', 'rwanda'], ['Tanzania', 'tanzania']]) %>
          <%= select_tag :loan_type, options_for_select([['Select a loan type', '-'], ['Before Planting', 'before planting'], ['Production', 'production'], ['Post-Harvest', 'post-harvest']]) %>
          <span style="margin-left:10px;">Date Range <%= text_field_tag :date_greater_than, 'Date Greater Than' %>
          to <%= text_field_tag :date_less_than, 'Date Less Than' %>
          </span>
          <%= submit_tag "Go", class: "btn btn-primary" %>
        <% end %>
        </div>
        <% if @show_tables %>
        <div>
          <div class="col-md-4">
            <h4>Number of borrowers: <strong><%= @total_borrowers %></strong></h4>
            <h4>Total Loan Amount: <strong>KES <%= @total_loan_amount %></strong></h4>
            <h4>Avg. Repayment Rate: <strong><%= @avg_loan_repayment_rate %>%</strong></h4>
          </div>
          <div class="col-md-4">
            <%= pie_chart @borrower_gender %>
          </div>
          <div class="col-md-4">
            <%= pie_chart @borrower_age_range %>
          </div>

        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @show_tables %>
<div class="row">
  <div class="col-md-12">
    <div class="card border-primary mb-3" style="max-height:800px">
      <div class="card-header">Default Information</div>
      <div class="card-body">
        <div>
          <div class="col-md-4">
            <h4>Number of defaulters: <strong><%= @num_defaulters %></strong></h4>
            <h4>Total Default Amount: <strong>KES <%= @total_default_amount %></strong></h4>
          </div>
          <div class="col-md-4">
            <%= pie_chart @defaulter_gender %>
          </div>
          <div class="col-md-4">
            <%= pie_chart @defaulter_age_range %>
          </div>
          <div class="col-md-12">
            <table class="table table-striped table-condensed">
              <h5>Ageing Report</h5>
              <thead>
                <tr>
                  <th>Loan Type</th>
                  <th>0-30 Days</th>
                  <th>31-60 Days</th>
                  <th>61-90 Days</th>
                  <th>91-120 Days</th>
                  <th>121-180 Days</th>
                  <th>181+ Days</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Input</td>
                  <td><%= @input1 %></td>
                  <td><%= @input2 %></td>
                  <td><%= @input3 %></td>
                  <td><%= @input4 %></td>
                  <td><%= @input5 %></td>
                  <td><%= @input6 %></td>
                </tr>
                <tr>
                  <td scope="row">Cash</td>
                  <td><%= @cash1 %></td>
                  <td><%= @cash2 %></td>
                  <td><%= @cash3 %></td>
                  <td><%= @cash4 %></td>
                  <td><%= @cash5 %></td>
                  <td><%= @cash6 %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('#date_greater_than').datetimepicker();
    $('#date_less_than').datetimepicker();
  });
</script>
