<div class="row">
  <div class="col-md-4">
		<div class="card border-primary mb-3">
		  <div class="card-header">Borrowers</div>
		  <div class="card-body">
		    <h4 class="card-title">Total Number of Borrowers: <strong><%= number_with_precision(@total_borrowers, :precision => 0, :delimiter => ',') %></strong></h4>
        <%= pie_chart @borrower_gender, colors: ["#1f77b4", "#aec7e8"], legend: 'bottom', adapter: "google", thousands: "," %>
        <%= pie_chart @borrower_age_range, colors: ["#1f77b4", "#aec7e8"], legend: 'bottom', adapter: "google", thousands: "," %>
		  </div>
		</div>
  </div>
  <div class="col-md-4">
  	<div class="card border-primary mb-3" id="loan-amt">
		  <div class="card-header">Loan Amount</div>
		  <div class="card-body">
		    <h4 class="card-title">Total Loan Amount: <strong>KES <%= number_with_precision(@total_loan_amount, :precision => 2, :delimiter => ',') %></strong></h4>
        <%= pie_chart @loan_amount_gender, colors: ["#1f77b4", "#aec7e8"], legend: 'bottom', adapter: "google", thousands: "," %>
        <%= pie_chart @loan_amount_age_range, colors: ["#1f77b4", "#aec7e8"], legend: 'bottom', adapter: "google", thousands: "," %>
		  </div>
		</div>
  </div>
  <div class="col-md-4">
  	<div class="card border-primary mb-3" id='pmts'>
		  <div class="card-header">Payments</div>
		  <div class="card-body">
		    <h4 class="card-title">Total Repayment: <strong>KES <%= number_with_precision(@total_repayments, :precision => 2, :delimiter => ',') %></strong></h4>
		  </div>
		</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card border-primary mb-3" style="max-height:800px">
      <div class="card-header">Loan Info</div>
      <div class="card-body">
        <div>
        <%= form_tag('/dashboard_loans', method: "get") do %>
          <%= select_tag :country, options_for_select(@options) %>
          <%= select_tag :loan_type, options_for_select([['Select a loan type', '-'], ['Before Planting', 'before planting'], ['Production', 'production'], ['Post-Harvest', 'post-harvest']]) %>
          <span style="margin-left:10px;">Date Range <%= text_field_tag :date_greater_than, 'Date Greater Than' %>
          to <%= text_field_tag :date_less_than, 'Date Less Than' %>
          </span>
          <%= submit_tag "Go", class: "btn btn-primary" %>
        <% end %>
        </div>
        <% if @show_tables %>
        <div>
          <div class="col-md-4">
            <h4>Number of borrowers: <strong><%= number_with_precision(@total_borrowers, :precision => 0, :delimiter => ',') %></strong></h4>
            <h4>Total Loan Amount: <strong>KES <%= number_with_precision(@total_loan_amount, :precision => 2, :delimiter => ',') %></strong></h4>
            <h4>Avg. Repayment Rate: <strong><%= number_with_precision(@avg_loan_repayment_rate, :precision => 2, :delimiter => ',') %>%</strong></h4>
          </div>
          <div class="col-md-4">
            <%= pie_chart @borrower_gender, colors: ["#1f77b4", "#aec7e8"], legend: 'bottom', adapter: "google", thousands: "," %>
          </div>
          <div class="col-md-4">
            <%= pie_chart @borrower_age_range, colors: ["#1f77b4", "#aec7e8"], legend: 'bottom', adapter: "google", thousands: "," %>
          </div>

        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @show_tables %>
<div class="row">
  <div class="col-md-12">
    <div class="card border-primary mb-3" style="max-height:800px">
      <div class="card-header">Default Information</div>
      <div class="card-body">
        <div>
          <div class="col-md-4">
            <h4>Number of defaulters: <strong><%= number_with_precision(@num_defaulters, :precision => 0, :delimiter => ',') %></strong></h4>
            <h4>Total Default Amount: <strong>KES <%= number_with_precision(@total_default_amount, :precision => 2, :delimiter => ',')%></strong></h4>
          </div>
          <div class="col-md-4">
            <%= pie_chart @defaulter_gender, colors: ["#1f77b4", "#aec7e8"], legend: 'bottom', adapter: "google", thousands: "," %>
          </div>
          <div class="col-md-4">
            <%= pie_chart @defaulter_age_range, colors: ["#1f77b4", "#aec7e8"], legend: 'bottom', adapter: "google", thousands: "," %>
          </div>
          <div class="col-md-12">
            <table class="table table-striped table-condensed">
              <h5>Ageing Report</h5>
              <thead>
                <tr>
                  <th>Loan Type</th>
                  <th>0-30 Days</th>
                  <th>31-60 Days</th>
                  <th>61-90 Days</th>
                  <th>91-120 Days</th>
                  <th>121-180 Days</th>
                  <th>181+ Days</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Input</td>
                  <td><%= number_with_precision(@input1, :precision => 2, :delimiter => ',') %></td>
                  <td><%= number_with_precision(@input2, :precision => 2, :delimiter => ',') %></td>
                  <td><%= number_with_precision(@input3, :precision => 2, :delimiter => ',') %></td>
                  <td><%= number_with_precision(@input4, :precision => 2, :delimiter => ',') %></td>
                  <td><%= number_with_precision(@input5, :precision => 2, :delimiter => ',') %></td>
                  <td><%= number_with_precision(@input6, :precision => 2, :delimiter => ',') %></td>
                </tr>
                <tr>
                  <td scope="row">Cash</td>
                  <td><%= number_with_precision(@cash1, :precision => 2, :delimiter => ',') %></td>
                  <td><%= number_with_precision(@cash2, :precision => 2, :delimiter => ',') %></td>
                  <td><%= number_with_precision(@cash3, :precision => 2, :delimiter => ',') %></td>
                  <td><%= number_with_precision(@cash4, :precision => 2, :delimiter => ',') %></td>
                  <td><%= number_with_precision(@cash5, :precision => 2, :delimiter => ',') %></td>
                  <td><%= number_with_precision(@cash6, :precision => 2, :delimiter => ',') %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('#date_greater_than').datetimepicker();
    $('#date_less_than').datetimepicker();
  });
</script>
<script type="text/javascript">
  function makeSameHeight(a, b) {
    var aVal = $(a)[0];
    var aHeight = aVal.offsetHeight;
    bVal = $(b);
    bVal.innerHeight(aHeight)
  }
  makeSameHeight('#loan-amt', '#pmts')
</script>
