<div class="row">
  <div class="col-md-3">
		<div class="card border-primary mb-3" style='height:280px'>
		  <div class="card-header">Farmers</div>
		  <div class="card-body">
		  	<table class="table table-striped table-condensed">
		  		<tbody>
		  			<tr>
		  				<th scope="row">Registered:</th>
		  				<td><%= "#{number_with_precision(@total_farmers, :precision => 0, :delimiter => ',')}" %> – <%= "100.00%" %></td>
		  			</tr>
		  			<tr>
		  				<th scope="row">Verified:</th>
		  				<td><%= "#{number_with_precision(@total_verified_farmers, :precision => 0, :delimiter => ',')}" %> – <%= "#{number_with_precision(@total_verified_farmers/@total_farmers.to_f*100, :precision => 2, :delimiter => ',')}%" %></td>
		  			</tr>
		  			<tr>
		  				<th scope="row">Pending:</th>
		  				<td><%= "#{number_with_precision(@total_pending_farmers, :precision => 0, :delimiter => ',')}" %> – <%= "#{number_with_precision(@total_pending_farmers/@total_farmers.to_f*100, :precision => 2, :delimiter => ',')}%" %></td>
		  			</tr>
		  			<tr>
		  				<th scope="row">Groups:</th>
		  				<td><%= "#{number_with_precision(@total_farmer_groups, :precision => 0, :delimiter => ',')}"%></td>
		  			</tr>
		  			<tr>
		  				<th scope="row">Acreage:</th>
		  				<td><%= "#{number_with_precision(@total_acreage, :precision => 2, :delimiter => ',')}"%></td>
		  			</tr>
		  		</tbody>
				</table>
		  </div>
		</div>
  </div>
  <div class="col-md-3">
  	<div class="card border-primary mb-3" style='height:280px'>
		  <div class="card-header">Crops</div>
		  <div class="card-body">
		    <table class="table table-striped table-condensed">
		  		<tbody>
		  			<tr>
		  				<th scope="row">Total KGs Planted:</th>
		  				<td><%= number_with_precision(@total_kgs_planted, :precision => 2, :delimiter => ',')%></td>
		  			</tr>
		  			<tr>
		  				<th scope="row">Total Harvested Bags:</th>
		  				<td><%= number_with_precision(@total_bags_harvested, :precision => 2, :delimiter => ',') %></td>
		  			</tr>
		  		</tbody>
				</table>
		  </div>
		</div>
  </div>
  <div class="col-md-3">
  	<div class="card border-primary mb-3" style='height:280px'>
		  <div class="card-header">Loans</div>
		  <div class="card-body">
		    <table class="table table-striped table-condensed">
		  		<tbody>
		  			<tr>
		  				<th scope="row">No. of Loans:</th>
		  				<td><%= number_with_precision(@total_loans, :precision => 0, :delimiter => ',') %></td>
		  			</tr>
		  			<tr>
		  				<th scope="row">Value of Loans:</th>
		  				<td>KES <%= number_with_precision(@total_loan_amount, :precision => 2, :delimiter => ',') %></td>
		  			</tr>
		  			<tr>
		  				<th scope="row">Repayment Rate:</th>
		  				<td><%= number_with_precision(@avg_loan_repayment_rate, :precision => 2, :delimiter => ',') %>%</td>
		  			</tr>
		  		</tbody>
				</table>
		  </div>
		</div>
  </div>
  <div class="col-md-3">
		<div class="card border-primary mb-3" style='height:280px'>
		  <div class="card-header">
		  	Demographics
		  </div>
		  <div class="card-body">
		    <table class="table table-striped table-condensed">
		  		<tbody>
		  			<tr>
		  				<th scope="row" style="padding-top:20px;">Male:</th>
		  				<td style="padding-top:20px;"><%= number_with_precision(@total_male, :precision => 0, :delimiter => ',') %></td>
		  				<td><%= pie_chart @gender_breakdown, legend: false, height: '50px', width: '50px', colors: ["#1f77b4", "lightgrey"], library: { tooltips:
		  					{
                  titleFontSize: 8
		  					}
		  				} %></td>
		  			</tr>
		  			<tr>
		  				<th scope="row" style="padding-top:20px;">Female:</th>
		  				<td style="padding-top:20px;"><%= number_with_precision(@total_female, :precision => 0, :delimiter => ',') %></td>
		  				<td><%= pie_chart @gender_breakdown, legend: false, height: '50px', width: '50px', colors: ["lightgrey", "#1f77b4"], library: { tooltips: {enabled: true} } %></td>
		  			</tr>
		  			<tr>
		  				<th scope="row" style="padding-top:20px;">Youth:</th>
		  				<td style="padding-top:20px;"><%= number_with_precision(@total_youth, :precision => 0, :delimiter => ',') %></td>
		  				<td><%= pie_chart @age_range, legend: false, height: '50px', width: '50px', colors: ["#1f77b4", "lightgrey"], library: { tooltips: {enabled: true} } %></td>
		  			</tr>
		  		</tbody>
				</table>
		  </div>
		</div>
  </div>

</div>
<div class='row'>
	<div class="col-md-12">
		<div class="card border-primary mb-3" style="max-height:800px">
		  <div class="card-header">Farmer Registration Over Time</div>
		  <div class="card-body">
    		<%= render 'charts/farmer_registrations' %>
		  </div>
		</div>
	</div>
</div>
<div class='row'>
	<div class="col-md-6">
		<div class="card border-primary mb-3">
			<div class="card-header">Farmer Groups</div>
			<div class="card-body">
				<%= bar_chart @farmers_by_group, height: "500px", colors: ["#1f77b4", "#aec7e8"], thousands: "," %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card border-primary mb-3" style="height:566px">
		  <div class="card-header">Verified vs Pending</div>
		  <div class="card-body" style="max-width:400px">
		  	<%= pie_chart @status_breakdown, colors: ["#1f77b4", "#aec7e8"], thousands: ",", height: "400px", legend: 'bottom', adapter: "google" %>
		  	<h4>Active Farmers</h4>
		  	<h5>Farmers using eGranary Products: <strong><%= number_with_precision(@active_farmers, :precision => 0, :delimiter => ',')%></strong></h5>
		  </div>
		</div>
	</div>
</div>
<div class='row'>
	<div class="col-md-6">
		<div class="card border-primary mb-3" id="farmers-per-region">
			<div class="card-header">Total Farmers per Region</div>
			<div class="card-body">
				<table class="table table-striped table-condensed">
		  		<tbody>
		  			<tr>
		  				<th>County</th>
		  				<th>Number of Groups</th>
		  				<th>Number of Farmers</th>
		  			</tr>
		  			<% @farmers_by_county.each do |county, data| %>
		  				<tr>
		  					<td><%= county %></td>
		  					<td><%= number_with_precision(data[:num_groups], :precision => 0, :delimiter => ',')%></td>
		  					<td><%= number_with_precision(data[:num_farmers], :precision => 0, :delimiter => ',')%></td>
		  				</tr>
		  			<% end %>
		  			<tr>
		  				<td><strong>Total</strong></td>
		  				<td><strong><%= number_with_precision(@total_num_groups, :precision => 0, :delimiter => ',')%></strong></td>
		  				<td><strong><%= number_with_precision(@total_farmers, :precision => 0, :delimiter => ',')%></strong></td>
		  			</tr>
		  		</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6" >
		<div class="card border-primary mb-3" id="revenue">
			<div class="card-header">Revenue</div>
			<div class="card-body">

				<div id="gauge" class="200x160px"></div>


			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class="col-md-6" style="max-height:500px">
		<div class="card border-primary mb-3" style="max-height:500px" id="lending">
			<div class="card-header">Lending</div>
			<div class="card-body">
				<table class="table table-striped table-condensed">
		  		<tbody>
		  			<tr>
		  				<td>Total Number of Borrowers</td>
		  				<th><%= number_with_precision(@total_borrowers, :precision => 0, :delimiter => ',') %></th>
		  			</tr>
		  			<tr>
		  				<td>Total Loan Amount</td>
		  				<th>KES <%= number_with_precision(@total_loan_amount, :precision => 2, :delimiter => ',') %></th>
		  			</tr>
		  		</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6" style="max-height:500px">
		<div class="card border-primary mb-3" style="max-height:500px" id="comm">
			<div class="card-header">Communications</div>
			<div class="card-body">
				<table class="table table-striped table-condensed">
		  		<tbody>
		  			<tr>
		  				<td>SMS Sent this Month</td>
		  				<th><%= number_with_precision(@total_sms_sent_this_month, :precision => 0, :delimiter => ',') %></th>
		  			</tr>
		  		</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.min.js"></script>
<script>
  var g = new JustGage({
    id: "gauge",
    value: <%= @total_repayments %>,
    min: 0,
    max: 100000,
    title: "Revenue"
  });
</script>

<script type="text/javascript">
  function makeSameHeight(a, b) {
    var aVal = $(a)[0];
    var aHeight = aVal.offsetHeight;
    bVal = $(b);
    bVal.innerHeight(aHeight)
  }
  makeSameHeight('#farmers-per-region', '#revenue')
  makeSameHeight('#lending', '#comm')
</script>

<script type="text/javascript">
  var a = Chartkick.charts['chart-1']
  a.chart.options.tooltips.bodyFontSize = 7
  a.chart.update()
  var b = Chartkick.charts['chart-2']
  b.chart.options.tooltips.bodyFontSize = 7
  b.chart.update()
  var c = Chartkick.charts['chart-3']
  c.chart.options.tooltips.bodyFontSize = 7
  c.chart.update()
</script>