<div>
    <h2>Statistics</h2>
    <table class="table table-bordered table-condensed table-hover">
        <tbody>
            <tr>
                <td><a href="/farmers_table">Total Farmers</a></td>
                <td><%= number_with_delimiter(@total_farmers, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="/farmers_table">Maize Farmers</a></td>
                <td><%= number_with_delimiter(@maize_farmers_count, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="/farmers_table">Rice Farmers</a></td>
                <td><%= number_with_delimiter(@rice_farmers_count, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="/farmers_table">NERICA Rice Farmers</a></td>
                <td><%= number_with_delimiter(@nerica_rice_farmers_count, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="/farmers_table">Bean Farmers</a></td>
                <td><%= number_with_delimiter(@bean_farmers_count, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="/farmers_table">Green Gram Farmers</a></td>
                <td><%= number_with_delimiter(@green_gram_farmers_count, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="/farmers_table">Black Eyed Bean Farmers</a></td>
                <td><%= number_with_delimiter(@black_eyed_bean_farmers_count, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="maize_reports_table">Total Maize Bags Harvested</a></td>
                <td><%= number_with_delimiter(@total_maize_bags_harvested, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="rice_reports_table">Total Rice Bags Harvested</a></td>
                <td><%= number_with_delimiter(@total_rice_bags_harvested, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="nerica_rice_reports_table">Total NERICA Rice Bags Harvested</a></td>
                <td><%= number_with_delimiter(@total_nerica_rice_bags_harvested, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="beans_reports_table">Total Bean Bags Harvested</a></td>
                <td><%= number_with_delimiter(@total_bean_bags_harvested, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="green_grams_reports_table">Total Green Gram Bags Harvested</a></td>
                <td><%= number_with_delimiter(@total_green_gram_bags_harvested, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="black_eyed_beans_reports_table">Total Black Eyed Bean Bags Harvested</a></td>
                <td><%= number_with_delimiter(@total_black_eyed_bean_bags_harvested, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="soya_beans_reports_table">Total Soya Bean Bags Harvested</a></td>
                <td><%= number_with_delimiter(@total_bean_bags_harvested, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="pigeon_peas_reports_table">Total Pigeon Peas Bags Harvested</a></td>
                <td><%= number_with_delimiter(@total_green_gram_bags_harvested, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="maize_reports_table">Total Maize Planted</a></td>
                <td><%= number_with_delimiter(@total_maize_planted, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="rice_reports_table">Total Rice Planted</a></td>
                <td><%= number_with_delimiter(@total_rice_planted, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="nerica_rice_reports_table">Total NERICA Rice Planted</a></td>
                <td><%= number_with_delimiter(@total_nerica_rice_planted, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="beans_reports_table">Total Bean Planted</a></td>
                <td><%= number_with_delimiter(@total_bean_planted, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="green_grams_reports_table">Total Green Gram Planted</a></td>
                <td><%= number_with_delimiter(@total_green_gram_planted, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="black_eyed_beans_reports_table">Total Black Eyed Bean Planted</a></td>
                <td><%= number_with_delimiter(@total_black_eyed_bean_planted, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="soya_beans_reports_table">Total Soya Bean Planted</a></td>
                <td><%= number_with_delimiter(@total_bean_planted, :delimiter => ',') %></td>
            </tr>
            <tr>
                <td><a href="pigeon_peas_reports_table">Total Pigeon Peas Planted</a></td>
                <td><%= number_with_delimiter(@total_green_gram_planted, :delimiter => ',') %></td>
            </tr>
        </tbody>
    </table>

    <br>
    <div>
        <h4 class="chart-title">Farmer Crop Distribution</h4>
        <%= pie_chart({"Maize Farmers" => @maize_farmers_count, "Rice Farmers" => @rice_farmers_count,
                       "NERICA Rice Farmers" => @nerica_rice_farmers_count, "Bean Farmers" => @bean_farmers_count,
                       "Green Gram Farmers" => @green_gram_farmers_count, "Black Eyed Bean Farmers" => @black_eyed_bean_farmers_count
        }) %>
    </div>
    <br>
    <div>
        <h4 class="chart-title">Farmer Gender Distribution</h4>
        <%= pie_chart({"Male" => Farmer.where(gender: 'male').count, "Female" => Farmer.where(gender: "female").count}) %>
    </div>
    <br>
    <div>
        <h4 class="chart-title">Farmer Age Distribution</h4>
        <%= pie_chart({"Youth" => Farmer.where("year_of_birth >= ?", Time.now.year - 35).count,
                       "Adult" => Farmer.where("year_of_birth < ?", Time.now.year - 35).count }) %>
    </div>
    <br>
    <div>
        <h4 class="chart-title">Planting Reports 2016-2017</h4>
        <%= column_chart("Total Maize Planted" => @total_maize_planted,
                         "Total Rice Planted" => @total_rice_planted,
                         "Total NERICA Rice Planted" => @total_nerica_rice_planted,
                         "Total Beans Planted" => @total_bean_planted,
                         "Total Green Grams Planted" => @total_green_gram_planted,
                         "Total Black Eyed Beans Planted" => @total_black_eyed_bean_planted,
                         "Total Soya Beans Planted" => @total_soya_bean_planted,
                         "Total Pigeon Peas Planted" => @total_pigeon_pea_planted) %>
    </div>
    <br>
    <div>
        <h4 class="chart-title">Harvesting Reports 2016-2017</h4>
        <%= column_chart("Total Maize Bags Harvested" => @total_maize_bags_harvested,
                         "Total Rice Bags Harvested" => @total_rice_bags_harvested,
                         "Total NERICA Rice Bags Harvested" => @total_nerica_rice_bags_harvested,
                         "Total Beans Bags Harvested" => @total_bean_bags_harvested,
                         "Total Green Grams Bags Harvested" => @total_green_gram_bags_harvested,
                         "Total Black Eyed Beans Bags Harvested" => @total_black_eyed_bean_bags_harvested,
                         "Total Soya Beans Bags Harvested" => @total_soya_bean_bags_harvested,
                         "Total Pigeon Peas Bags Harvested" => @total_pigeon_pea_bags_harvested,) %>
    </div>
    <br>
    <div>
        <h4 class="chart-title">Maize Reports</h4>
        <%= line_chart MaizeReport.group_by_day(:created_at).count %>
    </div>
    <br>
    <div>
        <h4 class="chart-title">Rice Reports</h4>
        <%= line_chart RiceReport.group_by_day(:created_at).count %>
    </div>
    <div>
        <h4 class="chart-title">Bean Reports</h4>
        <%= line_chart BeansReport.group_by_day(:created_at).count %>
    </div>
    <div>
        <h4 class="chart-title">Green Gram Reports</h4>
        <%= line_chart GreenGramsReport.group_by_day(:created_at).count %>
    </div>
    <div>
        <h4 class="chart-title">Black Eyed Bean Reports</h4>
        <%= line_chart BlackEyedBeansReport.group_by_day(:created_at).count %>
    </div>
    <div>
        <h4 class="chart-title">Soya Bean Reports</h4>
        <%= line_chart SoyaBeansReport.group_by_day(:created_at).count %>
    </div>
    <div>
        <h4 class="chart-title">Pigeon Peas Reports</h4>
        <%= line_chart PigeonPeasReport.group_by_day(:created_at).count %>
    </div>
    <br>
    <div>
        <h4 class="chart-title">Farmer Registrations</h4>
        <%= line_chart Farmer.group_by_day(:created_at).count %>
    </div>
    <br>
    <div>
        <h4 class="chart-title">Farmer Locations</h4>
        <%= geo_chart Farmer.group(:country).count %>
    </div>
    <br>
</div>

<% if current_user.is_admin? || current_user.is_updater? %>
<h1>Send Messages</h1>
<%= form_tag blast_path, method: :post do %>
    <fieldset>
        <div class="form-group">
            <label for="login-credentials">Message</label>
            <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter your message", maxlength: 160 %>
        </div>
        <div>
            <% @options_for_select = options_for_select([['All', 1], ["Maize Farmers", 2], ["Rice Farmers", 3], ["Bean Farmers", 4], ["Green Gram Farmers", 5], ["Black Eyed Bean Farmers", 6], ["Soya Bean Farmers", 7], ["Pigeon Pea Farmers", 8]]) %>
            <%= select_tag(:send_messages_to, @options_for_select) %>

            <%= submit_tag 'Send', class: "btn btn-primary" %>
        </div>
    </fieldset>
<% end %>
<% end %>
<br>
<br>
<br>
