<h1>Send Messages</h1>
<% if @inputs.present? %>
	<%= form_tag blast_path, method: :post do %>
		<fieldset>
			<div class="form-group">
		    	<label for="login-credentials">Message</label>
		    	<%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter your message", maxlength: 160 %>
		    </div>
		    <div>
		    	<%= submit_tag 'Send', class: "btn btn-primary" %>
		    </div>
		</fieldset>
	<% end %>
<% else %>
	<p>There currently is no data, please try entering some data by calling the number *384*6768# or contact us as <%= mail_to "hello@jiunga.com" %> for further assistance </p>
<% end %>
<br /> <br />
	<h1>History</h1>
	<% if @inputs.present?  %>
		<div class="table-responsive">
		  <table class="table table-hover">
		    <thead>
		    	<tr>
		    		<th>Time</th>
			    	<th>Phone Number</th>
			    	<th>Warehouse Number</th>
			    	<th>Commodity</th>
			    	<th>Quantity</th>
			    	<th>Grade</th>
		    	</tr>
		    </thead>
		   	<tbody>
		   		<% @inputs.each do |fi| %>
			   		<tr>
			   			<td><%= fi.updated_at.strftime "%I:%M:%S %p, %b %e"%></td> 
			   			<td><%= fi.phone_number %></td>
			   			<td><%= fi.warehouse_number %></td>
			   			<td><%= fi.commodity %></td>
			   			<td><%= fi.quantity %></td>
			   			<td><%= fi.grade %></td>
					</tr>
			   	<% end %>
		   	</tbody>
		  </table>
		</div>	
	<% else %>
		<p>Your outbox is currently empty</p>
	<% end %>
