<!DOCTYPE html>
<html>
<head>
  <title>eGranary</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<div class="container">
		<br />
		<%= render 'layouts/navbar' %>
		<%= render 'layouts/alerts' %>
		<%= yield %>
	</div>
</body>
</html>
